*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    background: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: Sora, sans-serif;
}

.container{
max-width: 540px;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
padding: 20px;
color: white;
height: 100%;
}

.profile-picture{
    width: 120px;
    border-radius: 50%;
}

.gradient{
    background:linear-gradient(to right, #5579BA, #41a377);
}

.username{
    font-weight: 400;
    font-size: 2em;
    margin: 16px 0;
}

.description{
    font-size: 1em;
    color: 919193;
}