p{
    color: red;
}

/* # tag para o id */

#paragrafo1{
    color:white;
    background-color: rgb(48, 28, 52);
}

/* . tag para a tag "class" (a tag "id" tem maior prioridade que tag "class"*/

.fundo-azul{
    background-color: blue;
}

.texto-amarelo{
    color: rgb(255, 255, 0);
}

/* Quanto mais específico maior a prioridade */